@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ContactUs>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = null;
    var employees = Umbraco.ContentAtRoot().OfType<Employees>().FirstOrDefault();
}

@foreach (var employee in employees.Children<Employee>())
{
    <span>@employee.FullName</span>
    <span>@employee.Position</span>
    <span>@employee.Phone</span>
    <span>@employee.Email</span>
}